{
  "plugins": [
    ["prismjs", {
        "languages": ["jsx", "bash"],
        "plugins": ["line-numbers", "file-highlight", "line-highlight", "match-braces", "unescaped-markup", "copy-to-clipboard"],
        "theme": "tomorrow",
        "css": true
    }]
  ]
}
