.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  //visibility: hidden;
  background-clip: padding-box;
  outline: 0;
}

.offcanvas-backdrop {
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn-close {
  }
}

.offcanvas-title {
  margin-bottom: 0;
}

.offcanvas-body {
  flex-grow: 1;
  overflow-y: auto;
}

.offcanvas-start {
  top: 0;
  left: 0;
  
  transform: translateX(-100%);
}

.offcanvas-end {
  top: 0;
  right: 0;

  transform: translateX(100%);
}

.offcanvas-top {
  top: 0;
  right: 0;
  left: 0;

  max-height: 100%;
  transform: translateY(-100%);
}

.offcanvas-bottom {
  right: 0;
  left: 0;
  
  max-height: 100%;
  transform: translateY(100%);
}

.offcanvas.show {
  transform: none;
}
