
.App {
  text-align: center;
}

.pic {
  height: 96px;
  width: 96px;
  margin: 10px;
}

.logo-col {
  justify-content: center;
}

.list-logo, .List-logo {
  height: 48px;
  width: 48px;
  margin: 20px;
  border-color:#ffffff;
}

.list-logo:hover, .List-logo:hover {
  transform: scale3d(1.5, 1.5, 0.5);
} 

.logo-row {
  background: #111827;
}

@media (prefers-reduced-motion: no-preference) {
  .list-logo {
    animation-name:  list-logo-slidein,  list-logo-spin;
    animation-iteration-count: 1;
    animation-duration: 2s, 4s;
    animation-timing-function: ease;
    transition: transform 1s;
  }
}

.background {
  background-color:#ffffff;
  background-size: cover;
  background-position: top;
  height: 95vh;
  position: relative;
}

.p1, .p1a {
  font-family: "Nunito";
  color: #474444;
  font-size: 300%;
}

.p1a {
  animation-duration: 5s;
  animation-name: slideinp2;
}

.p2, .p2a {
  font-family: "Nunito";
  color: #474444;
  font-size: 200%;
}

.p2a {
  animation-duration: 4s;
  animation-name: slideinp2;
}

@media (min-width: 768px) {
  .list-logo, .List-logo {
    height: 96px;
    width: 96px;
    margin: 10px;
  }
  .p1a {
    animation-duration: 5s;
    animation-name: slidein;
  }
  .p2a {
    animation-name: slideinp2;
    animation-duration: 4s;
  }
}



div.flex-column.navbar-nav {
  width: 50%;
}

a.nav-link {
  font-family: "Nunito", sans-serif;
  color:#57585a;
  transition: font-weight 1s;
}

a.nav-link:hover {
  font-weight: 800;
  color:#000000;
}

a.nav-link:focus {
  background-color:#e5e5e5;
  box-shadow: 0 0 0 0.15rem #00000026;
}

a.nav-link:active, a.nav-link:focus {
  font-weight: 800;
  color:#000000;
}

.form-control:focus {
  border-color: #2b2c2e;
  box-shadow: 0 0 0 0.25rem #00000026;
}

.navbar-toggler:hover {
  box-shadow: 0 0 0 0.25rem;
}

.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #00000026;
  opacity: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#e5e5e5;
  color:#000000;
  text-align: center;
}

@keyframes  list-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes  list-logo-slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  75% {
    font-size: 600%;
    margin-left: 40%;
    width: 150%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideinp2 {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
