@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import './components/css/_variables.demo.scss';
@import "bootstrap/dist/css/bootstrap.min.css";


@import './components/sass/styles.scss';
@import './components/css/rbc_variables.scss';

@import "react-datepicker/dist/react-datepicker.css";

@import './components/css/blog.css';
@import './components/css/main.css';
@import './components/css/listtools.css';
@import './components/css/formstyles.css';
@import './components/css/styles.css';
@import './components/css/tablestyles.css';
@import './components/css/weatherstyles.css';
@import './components/css/modal.css';
@import './components/css/posts.scss';
@import './components/css/navigation.css';
@import './App.scss';


/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  //font-family: Georgia, serif ;
}
html, body {

	padding: 0px;
  margin: 0;
}

body {
  margin: 0;
  min-height:auto;

  padding-top: 0px;
  
  overflow-x: hidden;
  background-image: url("./media/millslakermnp.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffffff;
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    monospace;
  color:rgb(255, 0, 0);
  font-size: 18px;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.display-block {
  display: block;
}

.ScrollToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
  height: 48px;
  width: 48px;
  margin: 20px;
}

.ScrollToTop:hover{
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .ScrollToTop {
    animation-name: ScrollToTop-spin;
    animation-iteration-count: 1;
    animation-duration: 2s, 4s;
    animation-timing-function: ease;
    transition: transform 1s;
  }
}

@keyframes ScrollToTop-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ScrollToTop-slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes ScrollToTop-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
