
  * {
  font-family: "Nunito", sans-serif ;
  color: #202020;
  }

body {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Nunito", sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}

.ScrollToTop {
  position: fixed; 
  width: 100%;
  bottom: 40px;
  align-items: center;
  height: 30px;
  justify-content: right;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
