@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import './components/css/_variables.demo.scss';
@import "bootstrap/dist/css/bootstrap.min.css";


@import './components/sass/styles.scss';
@import './components/css/rbc_variables.scss';

@import "react-datepicker/dist/react-datepicker.css";


@import './components/css/main.css';
@import './components/css/listtools.css';
@import './components/css/formstyles.css';
@import './components/css/styles.css';
@import './components/css/tablestyles.css';
@import './components/css/weatherstyles.css';
@import './components/css/modal.css';
@import './components/css/posts.scss';
@import './components/css/navigation.css';
@import './App.scss';

/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: "Nunito", sans-serif ;
}
html, body {
	background: #ffffff;
	padding: 0px;
}

body {
  min-height:auto;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #ffffff;
  font-family: "Nunito", sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-color:#003262;
  background-size: cover;
  background-position: top;
  min-height:auto;
  position: relative;
}

.json > pre {
  background: none #fff !important;
}

.example-code > .json {
  background: none #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    monospace;
  color:cyan;
  font-size: 16px;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.display-block {
  display: block;
}

.ScrollToTop {
  position: fixed; 
  bottom: 40px;
  align-items: center;
  justify-content: right;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
  height: 48px;
  width: 48px;
  margin: 20px;
}

.ScrollToTop:hover{
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .ScrollToTop {
    animation-name: ScrollToTop-spin;
    animation-iteration-count: 1;
    animation-duration: 2s, 4s;
    animation-timing-function: ease;
    transition: transform 1s;
  }
}

@keyframes ScrollToTop-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ScrollToTop-slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes ScrollToTop-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
