h2.blog {
  font-family: "Nunito", sans-serif;
  color: #efefefbd;
  font-size: 200%;
}

h2.top {
  justify-content: center;
  border-radius: 20px;
}

p.blog {
  font-family: "Nunito", sans-serif;
  color:#202020;
  background-color: #efefefbd;
  border-radius: 5px;
  font-size: 150%;
}
