@font-face {
  font-family: 'NotoSansDisplay-Variable', 'NotoSansDisplay-Italic-Variable', 'NotoColorEmoji';
  src: local('NotoSansDisplay-Variable'), url('../../fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf') format('truetype');
  src: local('NotoSansDisplay-Italic-Variable'), url('../../fonts/NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  src: local('NotoColorEmoji'), url('../../fonts/NotoColorEmoji.ttf') format('truetype');
}
.withNotoColorEmojiFont {
  font-family: 'NotoSansDisplay-Variable', 'NotoSansDisplay-Italic-Variable', 'NotoColorEmoji', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }
