body {
  margin: 10px;
  min-height:100vh;
  height: 100%;
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Finlandica', sans-serif;
  -webkit-font-smoothing: antialiased;
}

main.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #f5f3f3;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}

h1 {
  font-size: 26px;
}

section.blogList {
  display: inline;
  font-size: 22px;
  color: rgb(0, 0, 0);
  width: 80%;
}

.listItem {
  width: 45%;
  display: inline;
  text-decoration: none;
  font-weight: 400;
  color: rgb(248, 15, 15);
}

.blogListIemDate {
  font-size: small;
  color: black;
}

.blog {
  flex-flow: column wrap;
  justify-content: center;
  width: 80%;
  padding-bottom: 1%;
}

li.blogLi {
  display: list-item;
  list-style: circle;
  font-size: 20px;
  padding: 10px 0px;
  text-align: justify;
  font-weight: 400;
  width: 80%;
  line-height: 110%;
}

.footer {
  display: flex;
  font-family: 'Finlandica', sans-serif;
  font-size: medium;
  position: fixed;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e5e5e5;
  color: #003262;
  justify-content: space-between !important;
  height: 45px;
  padding: 20px;
  z-index: 1000;
}
