
  * {
  font-family: "Nunito", sans-serif ;
  color: #ebe7e7;
  }

body {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Nunito", sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}
