/* General styles */
html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  color: #434344;
  
}

h3 {
  color: #fdfcfc;
  
  font-family: "Nunito", sans-serif;
  font-weight:normal;
}

hr {
  background: #fff;
}

footer {
  margin-top: 5px;

}
