.aboutContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  /* background-image: url("http://localhost:3000/media/millslakermnp.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  width: 100%;
  padding-bottom: 50px;

}

.aboutSection1 {
  /* background: linear-gradient(rgba(255, 255, 255, 0.7), 99%, rgba(255, 217, 0, 0.904));
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 217, 0, 0.904);
  border-radius: 100px / 120px; */
  width: 70%;
  height: 100%;
  padding: 2% 5% 1% ;
  margin: 1%;
}

.box {
  width: 100%;
  height: 60px;
  --mask:
    radial-gradient(31.87px at 50% calc(100% + 26.40px),#0000 calc(99% - 3px),#000 calc(101% - 2px) 99%,#0000 101%) calc(50% - 32px) calc(50% - 9px + .5px)/64px 18px ,
    radial-gradient(31.87px at 50% -26.4px,#0000 calc(99% - 2px),#000 calc(101% - 3px) 99%,#0000 101%) 50% calc(50% + 9px)/64px 18px ;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  background: linear-gradient(135deg, #ff8903,#ff8903, #0331ff, #0331ff) fixed;
}

.aboutSection2 {
  width: 70%;
  padding: 2% 5% 1% ;
  margin: 1%;
}

.aboutSection3 {
  width: 40%;
  padding: 2% 5% 1% ;
  margin: 1%;
}

.aboutSection4 {
  width: 40%;
  padding: 2% 5% 1% ;
  margin: 1%;
}

.aboutTitle {
  font-size: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding-top: 5px;
  justify-content: center;

}

.aboutSubtitle {
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  justify-content: center;
}

ul.ulTopCircle {
  list-style-type: circle;
  padding: 0;
  margin: 0 4%;
}

ul.ulReact {
  list-style-type: circle;
  list-style-image: url('http://localhost:3000/media/react20.png');
  padding: 0;
  margin: 0 0 2% 2%;
}

ul.ulCA {
  list-style-type: circle;
  list-style-image: url('http://localhost:3000/media/ca.png');
  padding: 0;
  margin: 0 0 2% 2%;
}

ul.ulNortel {
  list-style-type: circle;
  list-style-image: url('http://localhost:3000/media/nortel.png');
  padding: 0;
  margin: 0 0 2% 2%;
}

ul.ulTI {
  list-style-type: circle;
  list-style-image: url('http://localhost:3000/media/ti.png');
  padding: 0;
  margin: 0 0 2% 2%;
}

ul.ulSubCircle {
  list-style-type: circle;
  padding: 0;
  margin: 0 2% 2% 5%;
}

li.aboutText {
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin: 0 2% 2% 2%;
  line-height: 110%;
}

li.aboutSubText {
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin: 0 2% 2% 5%;
  line-height: 110%;
}
