.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #f5f3f3;
  height: 100%;
}
.blogList {
  font-size: 22px;
  color: rgb(0, 0, 0);
}
li.listItem {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin: 10px;
  line-height: 100%;
}
.listDate {
  font-size: 11px;
  color: rgb(0, 0, 0);
}

.listDate:hover {
  text-decoration: none;
}

.blogCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardImageTop {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog {
  display: flex;
  flex-flow: column wrap;
  /* align-items: center; */
  justify-content: center;
  /* padding: 10px;
  font-size: 16px;
  color: rgb(0, 0, 0); */
  width: 80%;
  padding-bottom: 5%;
}

.blogImg {
  display: flex;
  flex-flow: column wrap;
  align-items: normal;
  justify-content: center;
}

h1.blog {
  font-size: 30px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  padding: 10px 0px;
}

h2.blog {
  align-items: normal;
  font-size: 24px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  padding: 10px 0px;
}

div.h2Box {
  border-color: rgb(148, 148, 148);
  border-style: solid;
  border-width: 2px;
}

h2.blogBox {
  align-items: normal;
  font-size: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding: 10px 0px 10px 10px;
}

a.item {
  text-decoration: none;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
a.item:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.blogText {
  font-size: 20px;
  padding: 10px 0px;
  text-align: justify;
  font-weight: 400;
  width: 100%;
  line-height: 110%;
}

.itemDate {
  font-size: 14px;
  font-weight: 300;
  color: rgb(148, 148, 148);
  padding: 10px 0px;
  text-decoration: none;
}

.stackBlitz {
  width: 90%;
  height: 100%;
}
