.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.blogList {
  background-color: rgba(244, 248, 252, 0.822);
  font-size: 14px;
  color: rgb(148, 148, 148);
}
li.listItem {
  margin: 10px;
  line-height: 80%;
}
.listDate {
  font-size: 10px;
  color: rgb(116, 113, 113);
}
h1.blog {
  font-size: 20px;
  font-weight: 600;
  color: rgb(87, 86, 86);
  padding: 10px;
}
a.item {
  text-decoration:none;
  font-weight: 400;
  color: #000;
}
a.item:hover {
  text-decoration:underline;
  color: #000;
}

.itemArticle {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 70%;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  color: rgb(65, 65, 65);
}

h1.itemTitle {
  font-size: 24px;
  font-weight: 600;
  color: rgb(54, 54, 54);
  padding: 10px;
}

.itemSection {
  width: 70%;
}

.itemText {
  font-size: 18px;
  padding: 10px;
  text-align: justify;
}

.itemDate {
  font-size: 12px;
  font-weight: 400;
  color: rgb(148, 148, 148);
  padding: 10px;
}
