.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}
.blogList {
  font-size: 22px;
  color: rgb(0, 0, 0);
}
li.listItem {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin: 10px;
  line-height: 100%;
}
.listDate {
  font-size: 11px;
  color: rgb(0, 0, 0);
}
.listDate:hover {
  text-decoration: none;
}
h1.blog {
  font-size: 24px;
  font-weight: 200;
  color: rgb(0, 0, 0);
  padding: 10px;
}
a.item {
  text-decoration:none;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
a.item:hover {
  text-decoration:underline;
  color: rgb(0, 0, 0);
}

.itemArticle {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  color: rgb(65, 65, 65);
}

h1.itemTitle {
  font-size: 24px;
  font-weight: 200;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.itemSection {
  width: 70%;
}

.itemText {
  font-size: 18px;
  padding: 10px;
  text-align: justify;
  font-weight: 300;
}

.itemDate {
  font-size: 14px;
  font-weight: 300;
  color: rgb(148, 148, 148);
  padding: 10px;
  text-decoration:none;
}
