/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background: #003262;
	padding: 15px;
}
img {
	width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 10px;
  align-items: start;
  justify-items: center;
  padding: 10px;
  margin: auto;
  
  width: 100%;
  background:#f5de94;
  }
.grid img {
  object-fit: fill;
}
.grid .wide {
	grid-column: span 2;
}
.grid .tall {
	grid-row: span 2;
}
.grid .big {
	grid-column: span 2;
	grid-row: span 2;
}

/* Main CSS */

div .container.grid-wrapper {
	display: grid;
  overflow: hidden;
  margin-top: 0px;
	grid-gap: 5px;
  align-items: center;
  justify-items: center;
  width: 100%;
  background:lightgray;
	
	
}

img .grid-wrapper {
  width: 100%;
  height: 100%;
	object-fit: contain;
	border-radius: 0px;
}

.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

.main-row {
  width: 100%;
}

@media (min-width: 768px) {
  .grid-wrapper {
     justify-content: center;
     align-items: center;
     padding: 0px;
   }
   .container.grid-list {
     width: 100%;
   }
}
