.mainContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.mainImage {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 100px;

  color: rgb(0, 0, 0);
}

h1.mainTitle {
  font-size: 26px;
  font-weight: 300;
  color: rgb(2, 2, 2);
  padding: 10px;
  margin-top: 50px;
}

h2.mainSubtitle {
  font-size: 26px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
