.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100vw;
  height:auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;

}

div.row {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: center;
  max-width: 100%;
  max-height:auto;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.im01 {grid-area: im01;}
.im02 {grid-area: im02;}
.im03 {grid-area: im03;}
.im04 {grid-area: im04;}
.im05 {grid-area: im05;}
.im06 {grid-area: im06;}
.im07 {grid-area: im07;}
.im08 {grid-area: im08;}
.im09 {grid-area: im09;}
.im10 {grid-area: im10;}
.im11 {grid-area: im11;}
.im12 {grid-area: im12;}
.im13 {grid-area: im13;}
.im14 {grid-area: im14;}
.im15 {grid-area: im15;}

.image-container {
  position: relative;
  object-fit: cover;
  padding: 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
}

img {
	max-width: 100vw;
	max-height: 100vh;
	vertical-align: middle;
	display: inline-block;
}

.responsive-img.rounded-circle {
  width: 36px;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 10px;
}

a.link-primary.overlay {
  text-decoration:none;
  color:transparent;
  font-size: 14px;
}

a.link-primary.overlay:hover  {
  color:aqua;
  background-color: rgba(0,0,0,0.5);
  font-size: 14px;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 0s;
  transform: scale3d(1.1, 1.2, 0.5);
  animation-timing-function: ease;
  transition: transform 2s;
}

.blur {filter: blur(0px);}
.brightness {filter: brightness(250%);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(2);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px rgb(147, 150, 147));}

@media (min-width: 768px) {
  .grid.container, div.container-fluid, .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
   min-width: 768px;

 }
 .image-container .content {
  font-size: 14px;
 }
  div.grid.image-container.responsive-img {
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  grid-template-areas:
  '. im01 im01 im01 im01 im02 im02 im02 im02 im03 im03 im03'
  '. . im04 im04 im04 . im05 im05 im05 im05 . .'
  '. . . im06 im06 im06 . im07 im07 im08 im08 .'
  '. . im09 im09 im09 im10 im10 im10 . im11 im11 .'
  '. im12 im12 . im13 im13 . im14 im14 . im15 im15'
  '. . . . . . . . . . . .';
  }
}

