div.flex-column.navbar-nav {
  width: 100%;
}

div.navbar-nav {
  display: flex;
  font-weight: 200;
  font-size: 22px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  width: 100%;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  justify-content: space-between !important;
}

img.nav {
  width: 55px;
  height: 50px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  vertical-align: middle;
  display: inline-block;
}

a {
  color: #57585a;
  text-decoration: none;
  font-weight: 200;
  font-size: 22px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

a.navbar-brand {
  font-weight: 200;
  font-size: 26px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  background-color: transparent;
}

a, a.nav-link, .dropdown {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  padding: 0;
  color: #57585a;
  transition: font-weight 1s;
}

a, a.nav-link:hover {
  font-weight: 300;
  color: #252627;
}

a:hover {
  font-weight: 300;
  color: #252627;
}

a, a.nav-link:focus {
  background-color: #ffffff;

}

a, a.nav-link:active,
a.nav-link:focus {
  font-weight: 400;
  color: #252627;
}

.navbar-toggler:hover {
  box-shadow: 0 0 0 0.25rem;
}

.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #00000026;
  opacity: 1;
}
