.post-wrapper {
  display: grid;
  margin:auto;
  width: 100vw;
  color: white;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    ". top   top   top   top   ."
    ". title title title title ."
    ". .     toc   toc   .     ."
    ". text1 text1 text1 text1 ."
    ". code1 code1 code1 code1 ."
    ". sb1   sb1   sb1   sb1   ."
    ". text2 text2 text2 text2 ."
    ". code2 code2 code2 code2 ."
    ". text3 text3 text3 text3 ."
    ". code3 code3 code3 code3 ."
    ". . . . . .";
    
  .post00, .post01, .post02 {
    grid-template-areas:
    ". top   top   top   top   ."
    ". title title title title ."
    ". text1 text1 text1 text1 ."
    ". code1 code1 code1 code1 ."
    ". text2 text2 text2 text2 ."
    ". code2 code2 code2 code2 ."
    ". text3 text3 text3 text3 ."
    ". . . . . .";
  }
  .post03 {
    grid-template-areas:
    ". top   top   top   top   ."
    ". title title title title ."
    ". text1 text1 text1 text1 ."
    ". code1 code1 code1 code1 ."
    ". text2 text2 text2 text2 ."
    ". code2 code2 code2 code2 ."
    ". text3 text3 text3 text3 ."
    ". code3 code3 code3 code3 .";
  }
}

@media (min-width: 576px) {
  .container, .container-sm {
    min-width: 576px;
    max-width: 767px;
  }
}

@media (min-width: 768px) {
  .post-wrapper {
    padding-top: 5%;
  }
  .container, .container-md, .container-sm {
    min-width: 768px;
    max-width: 991px;
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    min-width: 992px;
    max-width: 100vw;
  }
}

.post-img-top {
  margin:auto;
  grid-area: top;
}

h3.post-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color:#e7e5e5;
  grid-area: title;
}

h4.subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color:#e7e5e5;
}

p.post-text {
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 18px;
  color:#e7e5e5;
}

p.post-text.emphasized {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 24px;
  color:#e7e5e5;
}

.link-primary {
  color:aqua;
}
.link-primary:focus, .link-primary:hover {
  color:#aaffff;
}

.toc {
  font-size: 16px;
  grid-area: toc;
}

pre {
  color:aqua;
}

.text1 {
  grid-area: text1;
}
.text2 {
  grid-area: text2;
}
.text3 {
  grid-area: text3;
}
.code1 {
  grid-area: code1;
}
.code2 {
  grid-area: code2;
}
.code3 {
  grid-area: code3;
}
.sb1 {
  grid-area: sb1;
}
