/* General styles */
html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
}

h3 {
  font-family: Matter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: #003262;
  font-weight: 800;
  text-align: right;
}

hr {
  background: #fff;
}

footer {
  margin-top: 5px;

}
