/* General styles */
html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
}

h3 {
  font-family: 'Finlandica', sans-serif;
  /* color: #003262; */
  font-weight: 800;
  text-align: right;
}

hr {
  background: #fff;
}

footer {
  margin-top: 5px;

}
