.react-bootstrap-table table {
  table-layout: auto;
  color: whitesmoke;
  border-collapse:collapse;
  border:solid #003262 1px;
  border-radius:8px;
  overflow: hidden;
  padding: 12px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  text-overflow: ellipsis;
  background: #FFE8B1;
}

.custom-header {
  font-family: 'Nunito', sans-serif;
  color: #e5e5e5;
  font-size: 12px;
  font-weight: 400;
  background: #003262;
}

.page-item, .page-link {
  color: #e5e5e5;
  background: #5a5a5e;
  border-color:#dcffec;
}

.page-item.active .page-link{
  color: #e5e5e5;
  background: #5a5a5e;
  border-color:#dcffec;
}

.todosTitle {
  font-family: "Nunito", sans-serif ;
  color: #003262;
  font-weight: 800;
  text-align: right;
  margin-top: 5px;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.react-bootstrap-table {
  th {
    outline: none;
   
    &.sortable {  
      .svg-icon-sort {
        opacity: 0;
      }
  
      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }    
  }
  .table.table-head-custom thead tr {
    .sortable-active {
        color: #003262 !important;
    }
  }
}

.cursor-default {
  cursor: default !important;
}

