
.main{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #c4820e;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}

div.post-body {
  background: #003262;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  max-width: 90%;
}

.top{
  margin: 0;
  height: 60px;
  background-color: #00336269;
  color: whitesmoke;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: space-between;
}

.header{
    background-color: #c4820e;
    color: #003262;
    padding: 10px;
    font-size: 28px;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
}

.day{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.temp{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.sunrise-sunset{
  padding: 15px;
  color: whitesmoke;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.description{
  padding: 15px;
  color: whitesmoke;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.button.weather{
  width: 35px;
  height: 35px;
  background-color: #003262;
  border-color:black;
}

.button.toggle {
  margin-left: 1em;
  width: 50px;
  height: 30px;
  color: #000000;
  background-color: lightgray;
  border-color:black;
}
